/*CSS RESPONSÁVEL PELA FORMATAÇÃO DE CORES E ALINHAMENTO DOS CONTAINERS*/

/*FAIXA CINZA*/
.cinza {
  background-color: #dedede;
  label {
    background-color: #dedede;
  }
}


/*FORMAS CENTRALIZADAS, COMO CALENDARIO E SOMA DOS CARBOIDRATOS*/
.dinamic {
  text-align: center;
  padding: 5px 0;
  .row {
    margin: 0 10px;
  }
  .item-calendario {
    width: 15%;
    max-width: 25%;
    padding: 2px;
    flex: 0 0 14%;
    margin: 0 auto;
  }
  .dia {
    font-size: 11px;
    font-weight: bold;
    margin-bottom: 0;
    line-height: 10px;
  }
  .semana {
    font-size: 11px;
    margin-bottom: 3px;
    line-height: 12px;
  }
}

/*ICONES DAS LISTAS*/
.icone-container {
  padding-right: 0;
  color: #747474
}

/*ALINHAMENTO DOS FORMULÁRIOS DE CADASTRO*/
.faixa {
  text-align: center;
}
.faixa , .custom-form {
    .btn {
      width: 100%;
      padding: 1px 0px;
      margin-top: 14px;
      height: 33px;
      width: 100%; 
      padding: 2px 0; 
      max-width: 230px;
    }
}


.lista {
  padding-top: 10px;
}

@media (min-width: 300px) {
  /*
  .custom-form {
    .col-1 , .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11 , .col-12 {
      padding-right: 0;
    }  
    .ponta {
      padding-right: 15px
    }
    .ponta-2 {
      padding-right: 0
    }    
  }
  */
}
@media (min-width: 768px) {

}
