@charset "UTF-8";
/*GAMBIARRAS NO BOOTSTRAP PRA FAZER ELE FUNCIONAR QUE NEM GENTE*/
label {
  position: absolute;
  font-size: 10px;
  top: 10px;
  left: 20px;
  padding: 0 2px;
  color: gray;
  background-color: white;
  line-height: 10px;
}

input {
  margin: 15px 0;
  border-radius: 3px;
  padding-left: 6px;
  padding-top: 4px;
  border: 1px gray solid;
  width: 100%;
  margin-bottom: 9px;
}

select {
  margin: 4px 4px 12px 4px;
  width: 100%;
  background-color: inherit;
  border-radius: 4px;
}

p {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

ul {
  list-style-type: none;
  padding-inline-start: 0px;
}

ul .row {
  margin: 10px 0;
}

hr {
  margin: "4px 0";
}

.lista i {
  font-size: 35px;
  margin-top: 10px;
  color: #c5c5c5;
}

.row {
  margin: 30px 0;
}
.row .row {
  margin: 5px 0;
}

.btn {
  width: 100%;
}

.menu-lateral {
  background-image: linear-gradient(#dedede, transparent);
}

@media (min-width: 300px) {
  .canvas-board {
    padding: 0;
  }

  .menu-lateral {
    display: none;
  }

  .main {
    padding: 0;
  }

  .faixa {
    margin: 0px;
  }
}
@media (min-width: 768px) {
  .canvas-board {
    padding: 30px 0;
  }

  .menu-lateral {
    display: inline;
    height: 900px;
  }

  .faixa {
    margin: 120px 0;
  }
}
.subtitle {
  font-size: 10px;
  font-weight: bold;
  line-height: 12px;
  margin: 5px 0 0 0;
}

.subinfo {
  font-size: 9px;
  line-height: 12px;
}

.titulo {
  text-align: center;
  margin: 15px 0;
}

.titulo-2 {
  text-transform: uppercase;
  margin-bottom: 0;
  line-height: 10px;
  margin-top: 10px;
}

.refeicao .Hora {
  font-weight: bold;
  margin-top: 13px;
}
.refeicao .Doses {
  font-weight: bold;
  margin-top: 7px;
  margin-bottom: 0px;
  line-height: 12px;
}

/*SUBATRIBUTOS*/
.subrow .col-4, .subrow .col-3, .subrow .col-6 {
  padding: 0;
}

.bio-paciente {
  text-align: center;
  margin: 16px auto 0 auto;
  max-width: 400px;
}

/*ICONES NAS LISTAS*/
.icone-container {
  padding-right: 0;
}

/*AVATAR DE USUARIOS*/
.avatar {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background-color: gray;
  text-align: center;
  margin: 5px auto;
}

/*OUTPUT DE INSULINA NA PÁGINA DA REFEIÇÃO*/
.doses-de-insulina-output {
  background-color: #4b85e2;
  color: white;
  width: 65px;
  height: 65px;
  border-radius: 100%;
}
.doses-de-insulina-output spam {
  line-height: 44px;
  font-size: 40px;
}

/*BOTÃO DE ADICIONAR MAIS UM ITEM NA LISTA DE ALIMENTOS*/
.btn-more {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  font-size: 25px;
  line-height: 0px;
}

.quadro-calendario {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  padding-top: 2px;
  margin: 0px auto;
}
.quadro-calendario p {
  color: black;
}

.quadro-refeicao {
  width: 50px;
  height: 50px;
  background-color: gray;
  border-radius: 100%;
  padding-top: 2px;
  float: right;
}
.quadro-refeicao p {
  color: white;
}

/*CSS RESPONSÁVEL PELA FORMATAÇÃO DE CORES E ALINHAMENTO DOS CONTAINERS*/
/*FAIXA CINZA*/
.cinza {
  background-color: #dedede;
}
.cinza label {
  background-color: #dedede;
}

/*FORMAS CENTRALIZADAS, COMO CALENDARIO E SOMA DOS CARBOIDRATOS*/
.dinamic {
  text-align: center;
  padding: 5px 0;
}
.dinamic .row {
  margin: 0 10px;
}
.dinamic .item-calendario {
  width: 15%;
  max-width: 25%;
  padding: 2px;
  flex: 0 0 14%;
  margin: 0 auto;
}
.dinamic .dia {
  font-size: 11px;
  font-weight: bold;
  margin-bottom: 0;
  line-height: 10px;
}
.dinamic .semana {
  font-size: 11px;
  margin-bottom: 3px;
  line-height: 12px;
}

/*ICONES DAS LISTAS*/
.icone-container {
  padding-right: 0;
  color: #747474;
}

/*ALINHAMENTO DOS FORMULÁRIOS DE CADASTRO*/
.faixa {
  text-align: center;
}

.faixa .btn, .custom-form .btn {
  width: 100%;
  padding: 1px 0px;
  margin-top: 14px;
  height: 33px;
  width: 100%;
  padding: 2px 0;
  max-width: 230px;
}

.lista {
  padding-top: 10px;
}

@media (min-width: 300px) {
  /*
  .custom-form {
    .col-1 , .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11 , .col-12 {
      padding-right: 0;
    }  
    .ponta {
      padding-right: 15px
    }
    .ponta-2 {
      padding-right: 0
    }    
  }
  */
}

/*# sourceMappingURL=styles.css.map */
